numpy==1.24.4   # Or use a version compatible with your stack
ipykernel
pandas
matplotlib
plotly
seaborn
scipy
scikit-learn
imblearn
xgboost
catboost
pymongo
from_root
dill
PyYAML
boto3
mypy-boto3-s3
botocore
fastapi
uvicorn
jinja2
python-multipart
certifi
dotenv
-e .

